* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.container {
    width: 100%;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: top;
    height: 70px;
    background-color: #161b22;
    border-bottom: solid 1px #2a323f;
}

.navbar img {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

nav {
    flex: 1;
    text-align: right;
    margin-right: 100px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-top: 38px;
}

.header_text {
    display: inline;
    margin: 20px 00px 00px 50px;
    height: fit-content;
    font-size: 20px;
    color: #808891;
    font-weight: bold;
}

nav ul li a {
    transition: all 0.2s;
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: solid 2px transparent;
}

nav ul li a:hover {
    transition: all 0.2s;
    font-weight: bold;
    border-bottom: solid 2px #f7d758;
}

.page {
    margin-top: 50px;
    margin: 30px auto 0 auto;
    width: 1000px;
    color: #c9d1d9;
    padding: 10px;
    min-height: 100px;
    border: solid 1px #2a323f;
    border-radius: 5px;
}

.page h2 {
    margin-bottom: 10px;
}